<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TrainingJan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DataFetch</servlet-name>
    <servlet-class>training.movies.servlets.DataFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataFetch</servlet-name>
    <url-pattern>/dataFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSpcFilm</servlet-name>
    <servlet-class>training.movies.servlets.UpdateSpcFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSpcFilm</servlet-name>
    <url-pattern>/updateMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>training.movies.servlets.AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMovie</servlet-name>
    <servlet-class>training.movies.servlets.DeleteMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovie</servlet-name>
    <url-pattern>/deleteOneMovie</url-pattern>
  </servlet-mapping>
</web-app>